<!-- Used by theme-bio-builtin-2 -->

{% if site.data.bio.volunteer %}
<div class="sixteen wide column no-bottom" style="padding-bottom: 0!important;">
  <h3 class="ui left aligned header no-bottom" style="padding-bottom: 0!important;">Professional Activities</h3>
  <hr style="margin: 0px;">
</div>

<div class="sixteen wide column no-bottom" style="padding-bottom: 0!important;"></div>

{% for entry in site.data.bio.volunteer %}
  <div class="ui row" style="padding: 0;">
    <div class="twelve wide column no-bottom" style="padding: 0 1rem!important;">
      <div style="padding-left: 1rem;">
        <p class="ui no-bottom" style="padding-bottom: 0!important;">
          <b>
          {{ entry.position }}{% if entry.organization and (entry.organization != "") %}, {{ entry.organization }}{% endif %}
          </b>
        </p>
        <p class="ui no-bottom" style="padding-bottom: 0!important;"><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
        </div>
    </div>
    <div class="four wide right aligned column no-bottom" style="padding: 0 1rem!important;">
      <p class="ui no-bottom" style="padding-bottom: 0!important;"><b>
        {% if entry.startDate %}
          {{ entry.startDate | slice: 0,4 }}
        {% endif %}
        {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
          -
        {% endif %}
        {% if entry.endDate %}
          {% if entry.endDate != "Present" %}
            {{ entry.endDate | slice: 0,4 }}
          {% else %}
            {{ entry.endDate }}
          {% endif %}
        {% endif %}
      </b></p>
    </div>
  </div>

  <div class="sixteen wide column no-bottom" style="padding-bottom: 0!important; padding-top: 0px!important;" >
    <div style="padding-left: 1rem;">
      <p class="ui no-bottom" style="padding-bottom: 0!important;">{{ entry.summary }}</p>
      {% if entry.highlights %}
        <ul style="margin: 0px;">
          {% for highlight in entry.highlights %}
            <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
  </div>

  {% if forloop.last != true %}
    <div class="sixteen wide column no no-bottom"></div>
  {% endif %}  
{% endfor %}
{% endif %}
