<!-- Used by theme-essays-builtin-2 -->

<div class="row" style="padding: 0.5rem 0!important;">
    <div class="essay-card ten wide column essay-title" id="{{ page.id }}" style="background-color: white; padding: 2rem!important; border-radius: .28571429rem; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)!important;">
      <a href="{{ site.baseurl}}{{ include.page.url }}">
        <h2 class="header essay-content">{{ include.page.title }}</h2>
        <p class="essay-content">{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>

        <div style="text-align: left;" class="ui mini labels">
          <strong style="padding-right: 0.5em;">Tags:</strong>
          {% for label in include.page.labels %}
            <div class="ui basic label">{{ label }}</div>
          {% endfor %}
        </div>
        <div class="ui fitted divider" style="margin: 0.5em 0 1em 0;"></div>
        <p style="display: block; width: fit-content; margin-right: auto;" class="ui blue label">{{ include.page.date | date_to_string }}</p>
      </a>
    </div>
</div>

