<div style="margin: 2rem 0; padding: 4rem; padding-top: 2rem; background-color: white; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" class="ui stackable grid container">

  <div class="sixteen wide column" style="text-align: right;">
      <a class="ui primary button"  href="/Resume.pdf" download>
        <i class="download icon"></i>  
        PDF Version
      </a>
  </div>

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>

  {% include bio-education-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-work-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-volunteer-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-publications-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-awards-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-skills-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-interests-2.html %}
  <div class="ui hidden divider"></div>
  {% include bio-references-2.html %}
</div>

<script language='javascript'>
    $(document).ready(function(){
      $('.ui.accordion').accordion();
    });
</script>