---
layout: essays
---

<div style="margin: 2rem 0; padding: 4rem 3rem; background-color: white; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" class="ui text container">
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date | date_to_string }}</span>
  <hr>
  {{ content }}

  <div class="ui section divider"></div>

  <div class="ui equal width grid">
    {% assign essay_pages = site.pages | where: "type", "essay" %}

    {% for pge in essay_pages %}
      {% if pge.url == page.url %}
        {% assign prev_idx = forloop.index0 | minus: 1 %}
        {% if prev_idx >= 0 %}
          {% assign prev_page = essay_pages[prev_idx] %}
        {% endif %}
        {% assign next_idx = forloop.index0 | plus: 1 %}
        {% assign next_page = essay_pages[next_idx] %}
      {% endif %}
    {% endfor %}

    <div class="left aligned column"><a href="{{ prev_page.url }}">{% if prev_page %}<i class="ui left arrow icon"></i> Previous Essay</a>{% endif %}</div>
    <div class="center aligned column"><a href="/essays"><i class="ui home icon"></i> Back to Essays Page</a></div>
    <div class="right aligned column">{% if next_page %}<a href="{{ next_page.url }}">Next Essay <i class="ui right arrow icon"></i></a>{% endif %}</div>
  </div>
</div>