---
layout: projects
---

<div style="margin: 2rem 0; padding: 4rem 3rem; background-color: white; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" class="ui text container">
  <h1 class="no-bottom">{{ page.title }}</h1>
  {% if page.subtitle %}
    <p class="no-bottom"><em>{{ page.subtitle }}</em></p>
  {% endif %}
  <div class="ui mini labels" style="margin-bottom: 1em;">
    {% for label in page.labels %}
      <div class="ui basic label">{{ label }}</div>
    {% endfor %}
  </div>
 {{ content }}
</div>