---
layout: projects
---

<div style="margin: 2rem 0; padding: 4rem 3rem; background-color: white; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" class="ui text container">
  <h1 class="no-bottom">{{ page.title }}</h1>
  {% if page.subtitle %}
    <p class="no-bottom"><em>{{ page.subtitle }}</em></p>
  {% endif %}
  <div class="ui medium labels" style="margin-bottom: 1em; margin-top: 0.5rem;">
    {% for label in page.labels %}
      <div class="ui basic label">{{ label }}</div>
    {% endfor %}
  </div>
  {{ content }}

  <div class="ui section divider"></div>

  <div class="ui stackable three column grid nav">
    {% assign project_pages = site.pages | where: "type", "project" %}
    {% assign project_pages_ranked = project_pages | where_exp: "page", "page.rank != nil" |  sort: "rank" | reverse %}
    {% assign project_pages_unranked = project_pages | where_exp: "page", "page.rank == nil" | sort: "date" | reverse %}
    {% assign project_pages = project_pages_ranked | concat: project_pages_unranked %}

    {% for pge in project_pages %}
      {% if pge.url == page.url %}
        {% assign prev_idx = forloop.index0 | minus: 1 %}
        {% if prev_idx >= 0 %}
          {% assign prev_page = project_pages[prev_idx] %}
        {% endif %}
        {% assign next_idx = forloop.index0 | plus: 1 %}
        {% assign next_page = project_pages[next_idx] %}
      {% endif %}
    {% endfor %}

    <div class="left aligned column">{% if prev_page %}<a href="{{ prev_page.url }}"><i class="ui inline left arrow icon"></i> Previous Project</a>{% endif %}</div> 
    <div class="center aligned column"><a href="/projects/#{{ page.id }}"><i class="ui inline home icon"></i> Back to Projects Page</a></div>
    <div class="right aligned column">{% if next_page %}<a href="{{ next_page.url }}">Next Project <i class="ui inline right arrow icon"></i></a>{% endif %}</div>
  </div>
</div>

